@charset "utf-8";
/*웹폰트*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {-webkit-text-size-adjust:none;}
/*리셋 CSS*/
@charset "euc-kr";
/*Vertical 모바일 css*/
*{margin:0;padding:0;}
html{font-family:Roboto, Droid Sans, Helvetica, AppleSDGothicNeo, 'Apple SD 산돌고딕 Neo', Apple-Gothic, '애플고딕', 'Tahoma', 'dotum', '돋움', 'gulim', '굴림', sans-serif;}
html,body{margin:0;padding:0;width:100%;height:auto;}
body, ol, ul, li, dl, dt, dd, blockquote, fieldset, h1, h2, h3, h4, h4, h5, h6, pre, form, p, div{margin:0; padding:0;}
address, caption, cite, code, dfn, em, strong, textarea, var {font-style:normal; font-weight:normal;}
b, strong{font-weight:bold;}
a{border:0; text-decoration:none;}
a:hover {text-decoration:none;}
ol, ul, li{list-style-type:none;}
li{vertical-align:middle; line-height:1;}
img {vertical-align:top;border:0; }
body{-webkit-user-select:text; height:auto !important;}
/*common*/
.line_center{text-align: center}
.line_right{text-align: right}
.btn_line{text-align: center}
.after{content:" "; display:block; clear:both;}
.mask_layer{position:absolute;top:0;left:0;width:100%;height:100%; background:url('../img/bg_mask.png') repeat;z-index:10;}
.mt40{margin-top:40px;}
.mobile_hide{display:block;}
.mobile_show{display:none;}

.wrap_tour{position: relative;margin:0 auto;width:100%;height:100%;background: none;}
/*header*/
.wrap_tour .header_wrap2{position:fixed;top:0;left:0;width:100%;height:70px;background: #34353d;z-index:99999;}
.wrap_tour .top_menu{top:48;}
.wrap_tour .header_wrap2 .header{position:relative;;margin:0 auto;}
.wrap_tour .header_wrap2 .header a{display:block;line-height: 70px;height:70px;}
.wrap_tour .header_wrap2 .header h1{width:18%;text-align: center;height: 100%;}
.wrap_tour .header_wrap2 .header h1 a{line-height: 66px !important;} 
.wrap_tour .header_wrap2 .header h1 img{width: 88%;max-width: 82px;max-height:18px; vertical-align: middle;}
.wrap_tour .header_wrap2 .header .depth1{position: absolute;top:0;left:18%;z-index: 2;width:100%}
.wrap_tour .header_wrap2 .header .depth1 li{float:left;height:70px;}
.wrap_tour .header_wrap2 .header .depth1 li.on{background:#272830}
.wrap_tour .header_wrap2 .header .depth1>li{text-align: center;width:20%;background:url('http://eventimg.auction.co.kr/md/auction/0923379F49//bar_h8.gif')  no-repeat right center;}
.wrap_tour .header_wrap2 .header .depth1>li>a >img{width: 80%;max-width:82px;max-height:18px; vertical-align: middle}
.wrap_tour .header_wrap2 .header .depth1>li>a{display: block;width:100%;height:70px;}
.wrap_tour .header_wrap2 .header .depth1>li:last-child{background:none;}
.wrap_tour .header_wrap2 .header .depth1 li .depth2{position:absolute;top:70px;height:70px;/*background:#f2f2f2;*/width:82%;left:0%; display:none;/*overflow: hidden*/}
.wrap_tour .header_wrap2 .header .depth1 li .depth2 img{width:100%; vertical-align: top;}
.wrap_tour .header_wrap2 .header .depth1 li .depth2.active{display: block;}
/*2뎁스메뉴*/
.btn01{position:absolute; left:0%; width:17%; height: 100% !important;  /*border:1px solid red;*/}
.btn02{position:absolute; left:17%; width:16%; height: 100% !important; /*border:1px solid red;*/}
.btn03{position:absolute; left:33%; width:16%; height: 100% !important; /*border:1px solid red;*/}
.btn04{position:absolute; left:50%; width:16%; height: 100% !important; /*border:1px solid red;*/}
.btn05{position:absolute; left:66%; width:16%; height: 100% !important; /*border:1px solid red;*/}
.btn06{position:absolute; left:83%; width:16%; height: 100% !important; /*border:1px solid red;*/}

/*.wrap_tour .header_wrap2 .header .depth1 li .depth2 li{background:url('http://eventimg.auction.co.kr/md/auction/0923379F49/bar_h8.gif') no-repeat right center;width:25%;text-align: center;}
.wrap_tour .header_wrap2 .header .depth1 li .depth2 li img{width:50%;max-width: 45px; vertical-align: middle}
.wrap_tour .header_wrap2 .header .depth1 li .depth2 li.on img{height: 12px;vertical-align: middle;border-bottom:1px solid #424343;padding-bottom:1px;}
.wrap_tour .header_wrap2 .header .depth1 li .depth2 li a{display: block;}
.wrap_tour .header_wrap2 .header .depth1 li .depth2 li a img{}
.wrap_tour .header_wrap2 .header .depth1 li .depth2 li:last-child{background: none;}*/

/*main slider*/
.wrap_tour .wrap_tour .main_wrap{position: relative;width:100%;overflow: hidden;margin-top:70px;}
.wrap_tour .main_slider .title{position:absolute;top:18.56%;width:100%;text-align: center;z-index: 2;display: none;}
.wrap_tour .main_slider .title img{width:72%}
.wrap_tour .main_slider img{width:100%;}


/*sub1*/
/*.wrap_tour .sub1{margin-top:30px;}*/
.wrap_tour .sub1{padding-top:30px;}
.wrap_tour .sub1 .sub1_inner{position:relative;width:96%;padding:0 2%;overflow: hidden;}
.wrap_tour .sub1 .sub1_inner .item{float:left;margin-bottom: 3%;width:48.5%;}
.wrap_tour .sub1 .sub1_inner .item:first-child{margin-right:3%;}
.wrap_tour .sub1 .sub1_inner .item:nth-child(3){margin-right:3%; margin-bottom: 0;}
.wrap_tour .sub1 .sub1_inner .item:nth-child(4){margin-bottom: 0;}
.wrap_tour .sub1 .sub1_inner .item img{width:100%;}

/*sub2*/
.wrap_tour .sub2{position: relative;width:100%;overflow: hidden;}
.wrap_tour .sub2 .title{position:absolute;left:0;top:30px;width:100%;z-index: 2}
.wrap_tour .sub2 .title img{width:100%;}
.wrap_tour .sub2 .sub2_slider{width:100%;margin:0 auto; padding-top:30px;}
.wrap_tour .sub2 .sub2_slider img{width:100%;}
.wrap_tour .sub2 .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -51px;
    outline: 0;
    width: 42px;
    height: 103px;
    text-indent: -9999px;
    z-index: 9999;
}

.wrap_tour .sub2 .bx-wrapper .bx-pager{bottom:5%;}
/*sub3*/
.wrap_tour .sub3{position:relative;}
.wrap_tour .sub3 .sub3_inner{position:relative;padding-top:30px;margin:0 auto;overflow: hidden;}
.wrap_tour .notice_wrap{}
/*.wrap_tour .notice_wrap  ul{margin-top:24px;}*/
.wrap_tour .notice_wrap  ul{padding-top:24px;}
.wrap_tour .notice_wrap  ul li{line-height: 20px;border-bottom:1px solid #eee;padding:10px }
.wrap_tour .notice_wrap  ul li a{font-size:13px; color:#424343;font-weight: 600;}
.wrap_tour .banner_slider{position: relative;right:0;width:100%;}
.wrap_tour .banner_slider img{width:100%;}
.wrap_tour .banner_slider .bx-pager{bottom:7%;}
.wrap_tour .banner_slider .bx-pager-item{width:24px;}


/*서브공통*/
.sub_top{width:100%;}
.sub_top img{width:100%;}
.sub_main{width:100%;margin: 0 auto;margin-top:18px;}
.wrap_tour .link{margin-bottom: 30px;}
.wrap_tour .link ul{}
.wrap_tour .link ul li{margin-bottom: 18px;}
.wrap_tour .link ul li img{width:100%;}
.wrap_tour .m_link{position:absolute;right:50px;top:100px;z-index: 100;width:100px;height:150px;}

.wrap_tour .tour_cont img{width:100%}

/*서브 여행정보*/
.tour_cont{text-align: center;margin-bottom: 100px}

/*아이프레임*/
.gnb_ifram {position:fixed;;top:48px;left:0;width:100%;height: 70px;;z-index: 99999;}
.gnb_ifram iframe{height: 140px!important;width:100%;}

.main_cont_ifram {position:relative;;top:0;left:0;width:100%;height: 0;}
.main_cont_ifram iframe{position: absolute;top:0;left:0;width:100%;height: 100%;}

.notice_ifram {position:relative;;top:0;left:0;width:100%;height: 330px;}
.notice_ifram iframe{position: relative;top:0;left:0;width:100%;height: 100%;}

.banner_ifram {position:relative;;top:0;left:0;width:100%;height: 0;padding-top:44%;}
.banner_ifram iframe{position: absolute;top:0;left:0;width:100%;height: 100%;}

/*sns공유*/
.sns_set {position:absolute;right:3.5%;top:85px;z-index:110;width:10%;}